;; shadow-cljs configuration
{:deps true
;;  :source-paths
;;  ["src/dev"
;;   "src/main"
;;   "src/test"]

 :builds
 {:web {:target :node-script
        :main web.app/-main
        :output-to ".app/index.js"}}}
