@font-face {
  font-family: Piazzolla;
  font-style: normal;
  font-weight: 100 900;
  src: local("Piazzolla"), url("/fonts/Piazzolla.woff2") format("woff2");
}

@font-face {
  font-family: Piazzolla;
  font-style: italic;
  font-weight: 100 900;
  src: local("PiazzollaItalic"), url("/fonts/PiazzollaItalic.woff2") format("woff2");
}

@font-face {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata"), url("/fonts/Inconsolata.woff2") format("woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-optical-sizing: auto;
  font-variant-numeric: oldstyle-nums proportional-nums;
}
