@use "variables/sizes" as *;

table {
  margin: 0 0 20px;
  text-align: left;
  width: 100%;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

figcaption {
  font-size: 80%;
}

ul,
ol {
  margin-left: $spacing;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

a {
  color: var(--color-brand);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

blockquote {
  border-left: 4px solid var(--color-grey);
  color: var(--color-grey);
  font-size: 18px;
  font-style: italic;
  letter-spacing: -1px;
  padding-left: $spacing * 0.5;

  > :last-child {
    margin-bottom: 0;
  }

  pre,
  code {
    color: var(--color-text);
  }
}
