@use "variables" as *;

/*** The new CSS Reset - version 1.4.1 (last updated 23.11.2021) ***/

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-width: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* THE REST OF THE FUCKING OWL */

:root,
root[data-theme="light"] {
  --background: rgb(255, 255, 255);
  --text: rgb(0, 0, 0);
  --heading: rgb(0, 0, 0);
  --blue: rgb(79, 70, 229);
  --grey: rgb(107, 114, 128);
}

:root[data-theme="dark"] {
  --background: rgb(0, 0, 0);
  --text: rgb(156, 163, 175);
  --heading: rgb(209, 213, 219);
  --grey: rgb(229, 231, 235);
}

html,
body {
  background-color: var(--background);
  color: var(--text);
  height: 100%;
}

@font-face {
  font-display: block;
  font-family: Piazzolla;
  font-style: normal;
  font-weight: 100 900;
  src: local("Piazzolla"), url("/fonts/Piazzolla.woff2") format("woff2");
}

@font-face {
  font-display: block;
  font-family: Piazzolla;
  font-style: italic;
  font-weight: 100 900;
  src: local("PiazzollaItalic"), url("/fonts/PiazzollaItalic.woff2") format("woff2");
}

@font-face {
  font-display: block;
  font-family: Inconsolata;
  font-style: normal;
  font-weight: 400;
  src: local("Inconsolata"), url("/fonts/Inconsolata.woff2") format("woff2");
}

body {
  font-family: Piazzolla, sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  transition-duration: 300ms;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.root {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: fit-content(8ch) auto fit-content(8ch);
  height: 100%;

  > footer {
    position: sticky;
    top: 100vh;
  }
}

a {
  cursor: pointer;
  font-weight: 600;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

h1 {
  color: var(--heading);
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

h2,
h3,
h4,
h5,
h6 {
  color: var(--heading);
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

p {
  font-size: 1.15rem;
  text-align: justify;
  text-justify: inter-word;
}
