@use "variables/sizes" as *;

.nav-link {
  color: var(--color-text);
  text-decoration: none;

  &:not(:last-child) {
    margin-right: $spacing;
  }

  @media screen and (max-width: $small-width) {
    margin-left: $spacing;
    padding: $spacing 0;

    &:not(:last-child) {
      margin-right: 0;
    }
  }
}

.title {
  color: var(--color-text);
  font-size: 1.31951rem;
  text-transform: uppercase;
}

header {
  line-height: 56px;
  position: relative;
}

nav {
  float: right;
}
