@use "variables" as *;

.header {
  display: grid;
  grid-area: 1 / 1 / 1 / 13;
  grid-template-columns: repeat(12, 1fr);
  padding-top: 1rem;
}

.title {
  font-family: "Inconsolata", monospace;
  font-size: 1.5rem;
  grid-area: 1 / 2 / 1 / 4;
  margin: 0;
  place-self: center;
}

.nav {
  gap: 30px;
  grid-area: 1 / 6 / 1 / 8;
  justify-self: end;

  &__links {
    display: flex;
  }

  &__link {
    color: var(--grey);
    font-size: 1.25rem;
  }
}

:root[data-theme="light"] .root .-light {
  display: none;
}

:root[data-theme="dark"] .root .-dark {
  display: none;
}

.theme-btn {
  color: var(--grey);
  grid-area: 1 / 8 / 1 / 9;
  justify-self: center;
  padding-top: 0.2rem;
}

.main {
  grid-area: 2 / 2 / 2 / 12;
  padding-top: 1rem;
  @media (min-width: 32em) {
    grid-area: 2 / 4 / 2 / 8;
  }
}

.footer {
  color: var(--grey);
  grid-area: 3 / 2 / 3 / 12;
  margin: 0 auto;
  padding-bottom: 1rem;
  @media (min-width: 32em) {
    grid-area: 3 / 4 / 3 / 8;
  }
}
