@use "variables/colors" as *;

:root,
[data-theme="default"] {
  --color-brand: #{$color-brand};
  --color-blue: #{$color-blue};
  --color-text: #{$color-text};
  --color-background: #{$color-background};
  --color-grey: #{$color-grey};
}
