---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404" description="Could not find that page">
  <main class="mx-auto">
    <div class="max-w-7xl w-full mx-auto px-4 sm:px-6 lg:px-8">
      <div class="py-16">
        <div class="text-center">
          <p class="text-base font-semibold text-indigo-600">404</p>
          <h1 class="mt-2 text-4xl font-bold text-gray-900 tracking-tight sm:text-5xl">
            Page not found
          </h1>
          <p class="mt-2 text-base text-gray-500">
            The page you were looking for does not exist :(
          </p>
          <div class="mt-6">
            <a
              rel="prefetch"
              href="/"
              class="text-base font-medium text-indigo-600 hover:text-indigo-500"
              >Go back home<span aria-hidden="true"> &rarr;</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
