---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Home" description="Hello, I'm Sondre! I make things.">
  <main>
    <div>
      <h1 id="hello">
        <span>Hello! I'm</span>
        <span>Sondre</span>
      </h1>
      <p>
        I am a full time nerd with a passion for programming languages, mechanical keyboards,
        hoarding side-projects and occasionally creating useful software.
      </p>
    </div>
  </main>
</Layout>
