@use "variables" as *;

.header {
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 1 / 12;
  padding-top: 1rem;
  @media (min-width: 32em) {
    flex-direction: row;
    grid-area: 1 / 4 / 1 / 8;
    justify-content: space-between;
  }
}

.title {
  align-self: center;
  font-family: "Inconsolata", monospace;
  font-size: 1.5rem;
  margin: 0;
  padding-bottom: 1rem;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

.link {
  color: var(--grey);
  font-size: 1.25rem;
}

.main {
  grid-area: 2 / 2 / 2 / 12;
  padding-top: 1rem;
  @media (min-width: 32em) {
    grid-area: 2 / 4 / 2 / 8;
  }
}

.footer {
  color: var(--grey);
  grid-area: 3 / 2 / 3 / 12;
  margin: 0 auto;
  padding-bottom: 1rem;
  @media (min-width: 32em) {
    grid-area: 3 / 4 / 3 / 8;
  }
}
