---
export interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;

const path = `/${href}/`;
// const pathname = new URL(Astro.request.url).pathname;
---

<a rel="prefetch" href={path}>
  {title}
</a>
