---
import NavbarItem from "./NavbarItem.astro";
---

<header class="relative">
  <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
    <div
      class="w-full py-6 flex items-center justify-between border-b border-gray-9000 lg:border-none"
    >
      <div class="flex items-center">
        <a href="/" class="font-mono hover:underline dark:text-gray-300"> EONS :: IO ()</a>
        <div class="hidden ml-10 space-x-8 lg:block">
          <NavbarItem href="about" title="About" />
        </div>
      </div>
    </div>
    <div class="py-4 flex flex-wrap justify-center space-x-6 lg:hidden">
      <NavbarItem href="about" title="About" />
    </div>
  </nav>
</header>
