---
export interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;

const path = `/${href}/`;
const pathname = new URL(Astro.request.url).pathname;
---

<a
  href={path}
  class={`text-base font-medium ${
    pathname === path ? "text-gray-900" : "text-gray-500"
  } hover:text-gray-900`}
>
  {title}
</a>
