---
export interface Props {
  title: string;
  href: string;
}

const { title, href } = Astro.props;

const path = `/${href}/`;
const pathname = new URL(Astro.request.url).pathname;
---

<a
  rel="prefetch"
  href={path}
  class={`text-base font-medium ${
    pathname === path ? "text-gray-900 dark:text-gray-300" : "text-gray-500 dark:text-gray-300"
  } hover:text-gray-900 dark:hover:text-gray-400`}
>
  {title}
</a>
