@use "reset";
@use "fonts";
@use "base";

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(0 0 0);
    --text: rgb(156 163 175);
    --heading: rgb(209 213 219);
    --grey: rgb(229 231 235);
    --link: rgb(229 231 235);
  }
}

body {
  padding-top: 1.5rem;
  display: flex;
  justify-content: center;
}

ul {
  padding: 0;
  font-family: Inconsolata, ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  list-style: none;
}

li {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  font-weight: 600;
}

h1 {
  color: var(--heading);
}

p {
  font-size: 1.15rem;
  color: var(--text);
}

a {
  color: var(--link);
}

.link {
  font-size: 1.25rem;
  color: var(--link);
  margin-bottom: -10px;
}

.updated {
  font-size: 1.15rem;
  color: var(--grey);
  font-variant-caps: all-small-caps;
}

.border {
  display: block;
  padding-top: 1rem;
  margin-bottom: 2rem;
  border-bottom: 5px solid;
}
