@font-face {
  font-family: Piazzolla;
  font-style: normal;
  font-weight: 100 900;
  src:
    local("Piazzolla"),
    url("/fonts/Piazzolla.woff2") format("woff2");
}

@font-face {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: 400;
  src:
    local("Inconsolata"),
    url("/fonts/Inconsolata.woff2") format("woff2");
}

html {
  font-family:
    Piazzolla,
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

ul {
  font-family: Inconsolata, ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

p {
  font-size: 1.15rem;
}

.link {
  font-size: 1.5rem;
  color: rgb(79 70 229);
}

.updated {
  font-size: 1.25rem;
  color: rgb(107 114 128);
}

.border {
  display: block;
  padding-top: 1rem;
  margin-bottom: 2rem;
  border-bottom: 5px solid;
}
