@font-face {
  font-family: Piazzolla;
  font-style: normal;
  font-weight: 100 900;
  src:
    local("Piazzolla"),
    url("/fonts/Piazzolla.woff2") format("woff2");
}

@font-face {
  font-family: Inconsolata;
  font-style: normal;
  font-weight: 400;
  src:
    local("Inconsolata"),
    url("/fonts/Inconsolata.woff2") format("woff2");
}

:root {
  --background: rgb(255 255 255);
  --text: rgb(0 0 0);
  --heading: rgb(0 0 0);
  --link: rgb(79 70 229);
  --updated: rgb(107 114 128);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(0 0 0);
    --text: rgb(156 163 175);
    --heading: rgb(209 213 219);
    --link: rgb(229 231 235);
    --updated: rgb(156 163 175);
  }
}

html,
body {
  background-color: var(--background);
  color: var(--text);
  height: 100%;
}

html {
  font-family:
    Piazzolla,
    ui-sans-serif,
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif;
}

body {
  display: flex;
  justify-content: center;
}

ul {
  font-family: Inconsolata, ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, "Liberation Mono", "Courier New", monospace;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
}

h1 {
  padding-bottom: 0;
  margin-bottom: 0;
  color: var(--heading);
}

p {
  font-size: 1.15rem;
  color: var(--text);
}

a {
  color: var(--link);
}

.link {
  font-size: 1.5rem;
  color: var(--link);
}

.updated {
  font-size: 1.25rem;
  color: var(--updated);
}

.border {
  display: block;
  padding-top: 1rem;
  margin-bottom: 2rem;
  border-bottom: 5px solid;
}
