<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" href="/icon.svg" sizes="any" type="image/svg+xml" />
    <link rel="alternate icon" type="image/png" href="/icon-192.png" sizes="192x192" />
    <link rel="alternate icon" type="image/png" href="/icon-512.png" sizes="512x512" />
    <link href="/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" />

    <link rel="author" href="humans.txt" />

    {#
    <link rel="preload" href="/tailwind.css" as="style" />
    #}
    <link href="/static/styles.css" rel="stylesheet" />

    <title>{% block title %}{% endblock %} => Eons :: IO ()</title>
    <meta property="og:title" content="{% block title %}{% endblock %} => Eons :: IO ()" />
    {% block head %}{% endblock %}
  </head>

  <body class="bg-white dark:bg-black transition-all duration-300">
    <main class="wrapper">{% block content %}{% endblock %}</main>
  </body>
</html>
