{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block head %}<link rel="canonical" href="https://www.eons.io">
<meta name="description" content="The online home for Sondre Nilsen" />
<meta property="og:description" content="The online home for Sondre Nilsen">{% endblock %}

{% block content %}
<section>
	<h1 class="hello__title">
		<span>Hello! I'm</span>
		<span class="blue"> Sondre</span>
	</h1>
	<p class="hello__intro">
		I am a full time nerd with a passion for programming languages, mechanical keyboards, hoarding sideprojects
		and occasionally creating useful software.
	</p>
</section>
{% endblock %}