{% macro navitem(path, name) %}
<a
  rel="prefetch"
  href={{ path }}
  class="text-base font-medium text-gray-500 dark:text-gray-300 hover:text-gray-900 dark:hover:text-gray-400"
  <!-- class={`text-base font-medium ${ -->
  <!--   pathname === path ? "text-gray-900 dark:text-gray-300" : "text-gray-500 dark:text-gray-300" -->
  <!-- } hover:text-gray-900 dark:hover:text-gray-400`} -->
>
  {{ name }}
</a>
{% endmacro %}
