---
import type { CollectionEntry } from "astro:content";

import Layout from "./Layout.astro";

export type Props = CollectionEntry<"page">["data"];

const { title, description, subtitle } = Astro.props;
---

<Layout title={title} description={description}>
  <main>
    <article>
      <div>
        <h1>
          {subtitle && <span>{subtitle}</span>}
          <span>{title}</span>
        </h1>
      </div>
      <div>
        <slot />
      </div>
    </article>
  </main>
</Layout>
