---
import Layout from "./Layout.astro";

const {
  frontmatter: { title, subtitle, description },
} = Astro.props;
---

<Layout title={title} description={description}>
  <main class="main">
    <article>
      <div>
        <h1>
          {subtitle && <span>{subtitle}</span>}
          <span>{title}</span>
        </h1>
      </div>
      <div class="prose">
        <slot />
      </div>
    </article>
  </main>
</Layout>
