<footer class="footer">
  <p>
    Content (C) Sondre Aasemoen, licensed under
    <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>
  </p>
</footer>
<script type="text/javascript" src="{{ themeUrl }}"></script>
