{% extends "base.jinja" %} 

{% block content %}
  <main>
    <article>
      <div>
      <h1>
        {% if subtitle %}
          <span>{{ subtitle }}</span>
        {% endif %}
          <span>{{ title }}</span>
        </h1>
      </div>
      <div>
        {{ content }}
      </div>
    </article>
  </main>
{% endblock %}
