<!DOCTYPE html>
<html lang="en" data-theme="light">
{{>head}}

<body class="root">
  {{>header}}
  <main class="main">
    <h1>{{ title }}</h1>
    {{{ content }}}
  </main>
  {{>footer}}
</body>

</html>
