name: pipeline

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  build:
    name: pipeline
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - uses: sondr3/statisk@main

      - uses: actions/upload-artifact@v5
        with:
          name: dist
          path: ./_dist
          retention-days: 1

  e2e:
    name: e2e
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4.2.0
      - uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: "pnpm"

      - name: Install
        run: pnpm install --frozen-lockfile

      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps

      - uses: sondr3/statisk@main

      - name: Run Playwright tests
        run: pnpm e2e

      - uses: actions/upload-artifact@v5
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30

  deploy:
    needs: [build, e2e]
    runs-on: ubuntu-latest
    name: deploy

    steps:
      - uses: actions/download-artifact@v6
        with:
          name: dist
          path: ./dist

      - name: Deploy
        uses: burnett01/rsync-deployments@v8
        with:
          switches: -avzrh --delete
          path: dist/
          remote_path: ${{ secrets.DEPLOY_PATH }}
          remote_host: ${{ secrets.DEPLOY_HOST }}
          remote_user: ${{ secrets.DEPLOY_USER }}
          remote_key: ${{ secrets.DEPLOY_KEY }}

  prod-e2e:
    name: prod-e2e
    needs: [deploy]
    runs-on: macos-15

    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4.2.0
      - uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: "pnpm"

      - name: Install
        run: pnpm install --frozen-lockfile

      - name: Install Playwright Browsers
        run: pnpm exec playwright install --with-deps

      - name: Run Playwright tests
        run: pnpm e2e
        env:
          PLAYWRIGHT_BASE_URL: "https://www.eons.io"

      - uses: actions/upload-artifact@v5
        if: always()
        with:
          name: playwright-report-prod
          path: playwright-report/
          retention-days: 30
